/*----- FONT INIT -----*/
@font-face {
    font-family: moonf;
    src: url("../fonts/Moon Flower.ttf");
}

@font-face {
    font-family: moonfbold;
    src: url("../fonts/Moon Flower Bold.ttf");
}

@font-face {
    font-family: raleway;
    src: url("../fonts/Raleway Thin.ttf");
}

@font-face {
    font-family: ralewayreg;
    src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: summer;
    src: url("../fonts/Summer Font Light.otf");
}


/*----- GENERAL CSS -----*/
body{
    overflow-x: hidden;
    background-color: #6e7b90;
}

hr {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    width: 96%;
}

.btn {
    -moz-transition: all 0.2s;
    background-color: #f0f0f0;
}

.btn:hover {
    background-color: #529ecc;
    color: white;
}


/*----- WELCOME CSS -----*/
.flex-center {
    justify-content: center;
}

#titleblock {
    width: 1100px;
    margin: auto;
    text-align: center;
    font-family: moonf, sans-serif;
    color: white;
}

#title {
    letter-spacing: 20px;
    border: 15px solid white;
    border-bottom-color: lightgray;
    border-right-color: lightgray;
    padding: 0px 40px;
    border-radius: 1000px;
    font-size: 6em;
}

#subtitle {
    font-size: 2em;
    letter-spacing: 20px;
    font-weight: bold;
    display: inline-flex;
}

.links {
    font-family: moonfbold, sans-serif;
    text-align: center;
    margin-top: 30px;
    width: 250px;
    margin: auto;
    height: 100px;
}

.links > a {
    color: #383838;
    padding: 5px 20px;
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    background-color: white;
    -moz-transition: all 0.2s;
}

.links > a:first-child {
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 15px;
}

.links > a:last-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.links > a:hover {
    background-color: #529ecc;
    color: white;
}

/*----- NAVBAR CSS -----*/
.navbar-brand, .nav > li > a {
    font-family: raleway;
    color: #6e7b90;
    font-size: 1.2em;
    -moz-transition: all 0.2s;
    letter-spacing: 2px;
}

.nav > li > a:hover, .navbar-brand:hover {
    font-family: ralewayreg;
    color: #529ecc;
    font-size: 1.4em;
}

/*----- LOGIN CSS -----*/
#login {
    margin-top: 25px;
    margin-left: 31vw;
    border-radius: 30px;
    padding: 0px;
    width: 450px;
}

#loginbtn {
    text-align: center;
    width: 50%;
    font-family: moonfbold;
    color: #383838;
    font-size: 2em;
    padding-top: 0px;
    padding-bottom: 0px;
    letter-spacing: 8px;
    display: block;
    margin: auto;
}

#loginbtn:hover {
    color: white;
}

#loginbtngroup {
    width: 230px;
}

#forgotpass {
    background-color: transparent;
    color: #f0f0f0;
    font-family: summer;
    width: 100%;
    letter-spacing: 3px;
    font-size: 1.5em;
}

#forgotpass:hover {
    font-size: 1.6em;
    text-decoration: underline;
    color: white;
}

.control-label {
    margin-top: 8px;
    color: white;
    font-family: raleway;
}

.checkbox {
    margin-left: 40px;
    color: white;
    font-family: raleway;
}

.help-block {
    position: abolute;
    margin-left: -40.3vw;
    margin-top: -70px;
    width: 100vw;
    text-align: center;
}


/*----- REGISTER CSS -----*/
#regforms {
    margin-top: 13vh;
}

#regforms input:valid {
    border-color: lightgreen;
    box-shadow: 0 0 8px 2px rgb(0,250,0,0.2);
}

#regforms input:invalid {
    border-color: indianred;
    box-shadow: 0 0 8px 2px rgb(250,0,0,0.2);
}

#radioBtns {
    font-family: ralewayreg;
    color: white;
}

#radioBtns > input {
    box-shadow: none;
    margin-left: 3%;
    margin-top: 11px;
}

#radioBtns > input:last-of-type {
    box-shadow: none;
    margin-left: 30px;
}

#radioBtns > span {
    letter-spacing: 2px;
    margin-left: 5px;
}

#regbtn {
    font-family: moonfbold;
    color: #383838;
    font-size: 2em;
    margin-left: 7%;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    letter-spacing: 3px;
    width: 86%;
}

#regbtn:hover {
    color: white;
}

.form-horizontal label {
    font-family: raleway;
    position: relative;
    margin: 0px;
}


/*----- HOME CSS -----*/
.panel-body > h1 {
    color: #383838;
    font-family: moonfbold;
    text-align: center;
    font-size: 2.8em;
    letter-spacing: 3px;
}

.image {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px dashed #6e7b90;
    border-radius: 5px;
    width: 100%;
    padding: 1px;
}

.panel-body > p {
    width: 92%;
    margin: auto;
    font-family: ralewayreg;
}

.panel-body > p:last-child {
    margin-bottom: 20px;
}

.panel-body {
    padding: 20px;
}


/*----- CALCULATOR CSS -----*/
form h2, form h3 {
    color: #383838;
    font-family: raleway;
    letter-spacing: 3px;
}

#calculate {
    margin: 20px 15px 10px 0px;
    background-color: #529ecc;
    color: white;
    font-family: moonfbold;
    font-size: 2em;
    padding-top: 0px;
    padding-bottom: 0px;
    letter-spacing: 3px;
}

.calcpanel {
    text-align: center;
}

.calcpanel input {
    text-align: center;
}

.calcform {
    margin: auto;
    width: 100%;
}

.calcform input {
    margin: auto;
    width: 50%;
    margin-bottom: 10px;
}

.calcBtnHolder {
    width: 100%;
}

.calcBtn {
    margin: 10px 20px 10px 15px;
    width: 40%;
}

#submit {
    width: 100%;
}


/*----- PROFILE CSS -----*/
#profpicdiv > img {
    border: 20px solid white;
    border-bottom-color: lightgray;
    border-right-color: lightgray;
    position: absolute;
    float: left;
    margin-left: 170px;
    z-index: 999;
    width: 20%;
    padding: 0px;
}

.profileinfo {
    border: 3px dashed #6e7b90;
    border-radius: 5px;
    padding: 0px;
}

.contentstripe {
    margin-top: 15px;
    padding: 0px;
}

.contentstripe h1 {
    font-family: summer;
    letter-spacing: 5px;
    padding: 0px;
}

.contentstripe h4 {
    font-family: summer;
    letter-spacing: 3px;
    font-size: 2em;
    padding: 0px;
}

/*----- VIEW SUBJECT / CALCULATED GRADE CSS -----*/
.namespan {
    font-family: raleway;
    font-size: 1.5em;
    letter-spacing: 4px;
}

.subjecttable > h3 {
    text-align: center;
    padding: 0px;
    margin: auto;
    font-family: raleway;
    font-size: 2.5em;
    letter-spacing: 2px;
}

.subjecttable > h3:first-child {
    margin-bottom: 10px;
}

.subjecttable > h1 {
    font-family: raleway;
}

.subjecttable > table {
    text-align: center;
    padding: 0px;
    margin: auto;
}

table{
    border: 3px solid #6e7b90;
}

td {
    padding: 10px 40px 0px 40px;
    font-family: raleway;
    font-size: 1.2em;
    letter-spacing: 2px;
}

td:first-child {
    font-family: ralewayreg;
    font-weight: bold;
}

tr:nth-child(even) {
    color: #838383;
}

tr:nth-child(odd) {
    background-color: #6e7b90;
    color: white;
}

#total {
    margin-top: 15px;
}

#hrmini {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    width: 60%;
}

#showBtns {
    width: 100%;
    color: #383838;
    font-size: 2em;
}

#showBtns > a, #delete {
    text-align: center;
    letter-spacing: 2px;
    width: 100%;
    letter-spacing: 2px;
}

#delete {
    background-color: white;
    border: 1px dashed lightgray;
}

#delete:hover {
    background-color: indianred;
    border: none;
}


/*----- POSTS CSS -----*/
.postpanel {
    display: flex;
}

.postpanel > span {
    margin-left: 10px;
    font-family: raleway;
    font-size: 1em;
    letter-spacing: 2px;
}

.back {
    letter-spacing: 2px;
    background-color: white;
    padding: 10px;
    width: 100%;
    border: 1px dashed lightgray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.back:hover {
    background-color: indianred;
    border-color: transparent;
}


/*----- EDIT CSS -----*/
#editForm {
    text-align: center;
}

.addButton, .removeButton {
    margin-top: 5px;
    width: 49%;
}

#editCalcBtn {
    color: #529ecc;
    width: 100%;
    letter-spacing: 2px;
    font-size: 1.3em;
}

#editCalcBtn:hover {
    color: white;
}